<ngx-spinner bdColor = "rgba(70,69,69,0.76)"
  size = "medium"
  color = "#0c99ff"
  type = "ball-rotate"
  [fullScreen] = "true"><p style="color: white" > Loading... </p>
</ngx-spinner>

<div class="container mt-5">
  <h4>Inscription</h4>
  <div class="row">
    <div class="col-sm-6">
      <app-select-client [name]="clientSelect.name" (clientCancel)="clearClient()" (clientSelect)="setClient($event)"></app-select-client>
      <div class="form-group">
        <label for="price">Subscription</label>
        <select [(ngModel)]="idSubcription" (change)="selectSubscription($event.target.value)" class="form-control" id="price">
          <option [value]="null">Choose subscription</option>
          <option [value]="subscription.id" *ngFor="let subscription of subscriptions">{{subscription.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="date">Start date</label>
        <input type="text" class="form-control" [value]="inscription.date | date " id="date" disabled>
      </div>
      <div class="form-group">
        <label for="endPeriod">End date</label>
        <input type="text" class="form-control" [value]="inscription.endPeriod | date"  id="endPeriod" disabled>
      </div>

      <div class="form-group">
        <label for="subtotal">Subtotal</label>
        <input type="number" class="form-control" [value]="inscription.subtotal"  id="subtotal" disabled>
      </div>
      <div class="form-group">
        <label for="iva">IVA</label>
        <input type="number" class="form-control" [value]="inscription.iva"  id="iva" disabled>
      </div>
      <div class="form-group">
        <label for="total">Total</label>
        <input type="number" class="form-control" [value]="inscription.total"  id="total" disabled>
      </div>
      <div class="form-group float-right">
        <button class="btn btn-primary" (click)="save()">Save</button>
      </div>

    </div>
    <div class="col-sm-6">
      <div *ngIf="clientSelect.profileImgUrl" class="img-client text-center" >
        <img src="{{clientSelect.profileImgUrl}}" alt="{{clientSelect.name}}">
      </div>
    </div>
  </div>
</div>

