<ngx-spinner bdColor = "rgba(70,69,69,0.76)"
  size = "medium"
  color = "#0c99ff"
  type = "ball-rotate"
  [fullScreen] = "true"><p style="color: white" > Loading... </p>
</ngx-spinner>

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-6">
      <h4>Subscriptions</h4>
      <p>click to edit</p>
        <ul class="list-group" >
          <li class="list-group-item" *ngFor="let subscription of subscriptions">
             <a (click)="getSubscription(subscription)" >{{subscription.name}} - Price: {{ subscription.price }}</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-4 offset-sm-2">
      <h4>Add/Edit</h4>
        <form [formGroup]="formSubscription" >
          <div class="form-group">
            <label for="name">Description</label>
            <input type="text" formControlName="name" id="name" class="form-control" placeholder="Description...">
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <input type="number" formControlName="price" id="price" class="form-control" placeholder="Price...">
          </div>
          <div class="form-group">
            <label for="period">Period</label>
            <select id="period" class="form-control" formControlName="period" >
              <option disabled>Choose Period</option>
              <option value="1">Day</option>
              <option value="2">Week</option>
              <option value="3">Biweekly</option>
              <option value="4">Month</option>
              <option value="5">Year</option>
            </select>
          </div>
          <div class="form-group">
            <label for="price">Number of periods</label>
            <input type="number" formControlName="duration" id="duration" class="form-control" placeholder="Number of periods...">
          </div>
          <button class="btn btn-primary" *ngIf="!isEdit" [disabled]="formSubscription.invalid" (click)="addSubscription()">Add</button>
          <button class="btn btn-primary" *ngIf="isEdit" [disabled]="formSubscription.invalid" (click)="editSubscription()" >Edit</button>
        </form>
    </div>
  </div>
</div>
