<ngx-spinner bdColor = "rgba(70,69,69,0.76)"
  size = "medium"
  color = "#0c99ff"
  type = "ball-rotate"
  [fullScreen] = "true"><p style="color: white" > Loading... </p>
</ngx-spinner>

<div class="container mt-5">
  <form action="" [formGroup]="formAddClient">
    <div class="row">
      <div class="col-sm-12">
        <h4>Add client</h4>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="nif">Nif</label>
          <input type="text" class="form-control" formControlName="nif" id="nif" placeholder="Nif....">
          <div *ngIf="formAddClient.controls['nif'].invalid && formAddClient.controls['nif'].dirty" class="alert alert-danger mt-4" role="alert">
            <span *ngIf="formAddClient.controls['nif'].errors.required" >Nif required</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="tel" class="form-control" formControlName="phone" id="phone" placeholder="Phone....">
          <div *ngIf="formAddClient.controls['phone'].invalid && formAddClient.controls['phone'].dirty" class="alert alert-danger mt-4" role="alert">
            <span *ngIf="formAddClient.controls['phone'].errors.required" >Phone required</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" formControlName="name" id="name" placeholder="Name....">
          <div *ngIf="formAddClient.controls['name'].invalid && formAddClient.controls['name'].dirty" class="alert alert-danger mt-4" role="alert">
            <span *ngIf="formAddClient.controls['name'].errors.required" >Name required</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="surname">Surname</label>
          <input type="text" class="form-control" formControlName="surname" id="surname" placeholder="Surname....">
          <div *ngIf="formAddClient.controls['surname'].invalid && formAddClient.controls['surname'].dirty" class="alert alert-danger mt-4" role="alert">
            <span *ngIf="formAddClient.controls['surname'].errors.required" >Surname required</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" formControlName="email" id="email" placeholder="Email....">
          <div *ngIf="formAddClient.controls['email'].invalid && formAddClient.controls['email'].dirty" class="alert alert-danger mt-4" role="alert">
            <span *ngIf="formAddClient.controls['email'].errors.required" >Email required</span>
            <span *ngIf="formAddClient.controls['email'].errors.email" >That's not an email</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="birthdate">Birthdate</label>
          <input type="date" class="form-control" formControlName="birthdate" id="birthdate" placeholder="Birthdate....">
          <div *ngIf="formAddClient.controls['birthdate'].invalid && formAddClient.controls['birthdate'].dirty" class="alert alert-danger mt-4" role="alert">
            <span *ngIf="formAddClient.controls['birthdate'].errors.required" >Birthdate required</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="profileImgUrl">Image</label>
          <input type="file" (change)="uploadImg($event)" class="form-control-file" formControlName="profileImgUrl" id="profileImgUrl" placeholder="Img....">
          <div *ngIf="formAddClient.controls['profileImgUrl'].invalid && formAddClient.controls['profileImgUrl'].dirty" class="alert alert-danger mt-4" role="alert">
            <span *ngIf="formAddClient.controls['profileImgUrl'].errors.required" >Image required</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mt-5" *ngIf="percentUpload > 0">
        <progressbar [value]="percentUpload" type="info" [striped]="true">{{ percentUpload }}%</progressbar>
      </div>
      <div class="col-sm-12 mt-4">
        <button *ngIf="!edit" class="btn btn-primary float-right" [disabled]="formAddClient.invalid && !imageUrl" (click)="addClient()">Add</button>
        <button *ngIf="edit" class="btn btn-primary float-right" [disabled]="formAddClient.invalid && !imageUrl" (click)="editClient()">Save</button>
      </div>
    </div>
  </form>
</div>
