<ngx-spinner bdColor = "rgba(70,69,69,0.76)"
size = "medium"
color = "#0c99ff"
type = "ball-rotate"
[fullScreen] = "true"><p style="color: white" > Loading... </p>
</ngx-spinner>

<div class="container">
  <div class="jumbotron mt-5 p-5">
    <div class="text-center">
      <img class="w-100 p-3" src="assets/logo_yellow.png" alt="thinking2u">
    </div>
    <form [formGroup] = "loginForm">
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" formControlName="email" id="email" aria-describedby="emailHelp" placeholder="Enter email">
        <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].dirty" class="alert alert-danger mt-4" role="alert">
          <span *ngIf="loginForm.controls['email'].errors.required" >Email required</span>
          <span *ngIf="loginForm.controls['email'].errors.email" >That's not an email</span>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" (keyUp.enter)="login()" class="form-control" formControlName="password" id="password" placeholder="Password">
        <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].dirty" class="alert alert-danger mt-4" role="alert">
          <span  *ngIf="loginForm.controls['password'].errors.required">Password required</span>
        </div>
      </div>
      <button type="submit" [disabled]="!loginForm.valid" (click)="login()" class="btn btn-primary">Login</button>
    </form>
    <div *ngIf="!correctData" class="alert alert-warning mt-4" role="alert">
      {{ errorText }}
    </div>
  </div>
</div>
