<ngx-spinner bdColor = "rgba(70,69,69,0.76)"
  size = "medium"
  color = "#0c99ff"
  type = "ball-rotate"
  [fullScreen] = "true"><p style="color: white" > Loading... </p>
</ngx-spinner>

<div class="container mt-5">
  <h4>Inscriptions</h4>
  <div class="row">
    <table class="table table-sm mt-3 table-hover">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Client</th>
          <th scope="col">Nif</th>
          <th scope="col">Start</th>
          <th scope="col">End</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let incription of inscriptions">
          <th>
            <img class="img-profile" [src]="incription.client.profileImgUrl" alt="{{ incription.client.name }} {{ incription.client.surname }}">
          </th>
          <td class="align-middle">{{ incription.client.name }} {{ incription.client.surname }}</td>
          <td class="align-middle">{{ incription.client.nif }}</td>
          <td class="align-middle">{{ incription.date.toDate() | date  }}</td>
          <td class="align-middle">{{ incription.endPeriod.toDate() | date  }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
