<div *ngIf="user && !loading; else showLogin">
  <app-header></app-header>
  <router-outlet></router-outlet>
</div>

<ng-template #showLogin>

  <div *ngIf="loading" class="text-center">
    <ngx-spinner bdColor = "rgba(70,69,69,0.76)"
      size = "medium"
      color = "#0c99ff"
      type = "ball-rotate"
      [fullScreen] = "true"><p style="color: white" > Loading... </p>
    </ngx-spinner>
  </div>
  <app-login  *ngIf="!loading" ></app-login>

</ng-template>



