
<div class="clients">
  <div class="form-group" *ngIf="!name">
    <label for="client">Clients</label>
    <input type="text" class="form-control" (input)="searchClient($event.target.value)" id="client" placeholder="Search client....">
  </div>
  <div class="form-group" *ngIf="name">
    <label for="client">Clients</label>
    <div class="row">
      <div class="col-sm-10">
        <input disabled type="text" [ngModel]="name" class="form-control">
      </div>
      <div class="col-sm-2">
        <button  (click)="cancelClient()" class="btn btn-danger">Cancel</button>
      </div>
    </div>
  </div>
  <div class="list-group">
    <div *ngFor="let client of clients" >
      <a *ngIf="client.visible" (click)="selectClient(client)" class="list-group-item list-group-item-action">
        {{ client.name}} {{ client.surname}} - {{ client.nif}}
      </a>
    </div>
  </div>
</div>
