<ngx-spinner bdColor = "rgba(70,69,69,0.76)"
  size = "medium"
  color = "#0c99ff"
  type = "ball-rotate"
  [fullScreen] = "true"><p style="color: white" > Loading... </p>
</ngx-spinner>

<div class="container mt-5">
  <h4>Clients list</h4>
  <form action="">
    <div class="form-group">
      <input type="text" (input)="searchClient($event.target.value)" id="client" class="form-control" placeholder="Search....">
    </div>
  </form>
  <div class="row">
    <div class="col-sm-3" *ngFor="let client of clients">
      <div class="card" *ngIf="client.visible">
        <div class="img-div">
          <img class="card-img-top p-1 client-img" src="{{ client.profileImgUrl }}" alt="{{ client.name }} {{ client.surname }}">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ client.name }} {{ client.surname }}</h5>
          <p>{{ client.phone}}</p>
          <a class="card-link" [routerLink]="['/add-client/', client.id]" >Edit</a>
          <a class="card-link text-danger">Block</a>
        </div>
      </div>
    </div>
  </div>
</div>
